* {
    padding: 0;
    margin: 0;
}

.app-container {
    background-color: rgba(171, 169, 169, 0.3);
}

.header {
    background-color: darkcyan;
}

.navbar h1 {
    margin: 0;
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-right: 4px;
}

.menu li a {
    color: white;
    padding: 2px 5px;
    font-size: 17px;
    text-decoration: none;
}

.menu li a:hover {
    font-weight: bold;
}

.dropdown-menu .dropdown-item {
    background-color: rgba(0, 139, 139, 0.7);
}

nav button {
    color: aliceblue;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-toggler-icon {
    border: 2px solid white;
    display: block;
    height: 1px;
    margin-top: 3px;
}

/* for MyCarousel component  */

.carousel-inner h4,
.carousel-inner p {
    background-color: rgba(87, 81, 81, 0.5);
    width: max-content;
    margin: auto;
    padding: 5px 2px;
}

.carousel-inner h4 {
    margin-bottom: 4px;
}

/* ----------Cards component------------ */

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-body p {
    margin-bottom: 4px;

}

.card-title {
    font-size: 1.2rem
}

/* ......FooterNavebar...... */

.socail-title {
    text-align: center;
    margin-bottom: 20px;
    color: darkcyan !important;
    text-shadow: 2px 2px 2px white;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    background-color: darkcyan;
    position: relative;
    border-radius: 50%;
    padding: 3px 0;
    margin-left: 5px;

    margin-bottom: 20px;
}

.social-icons img {
    width: 50px;
    padding: 0 5px;
}

/* ----Footer---- */
footer .col {
    text-align: center;
    background-color: darkcyan;
    color: #fff;
    font-weight: 700;
    padding: 10px 0;
    font-family: sans-serif;
}


@media (max-width : 770px) {
    .navbar-toggler {
        margin-left: auto;
    }

    .carousel-inner h4,
    .carousel-inner p {
        font-size: 0.6rem;
    }

}

@media (max-width : 440px) {
    .card .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .card .row .col-4 {
        max-width: 100% !important;
    }

    .socail-title{
        font-size:1.2rem;
    }


}